.euiFormRow--hasEmptyLabelSpace {
  margin-top: 20px;
}

.euiRadio {
  align-items: center;
  display: flex;
}

.euiRadio .euiRadio__input,
.euiRadio .euiRadio__input + .euiRadio__circle {
  top: auto;
}
